body {
  padding: 0;
  margin: 0;
  margin-top: 0;
  background-color: rgb(254, 247, 253);
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titre {
  color: #f5d4ea;
  font-size: 200px;
}

#echange {
  font-size: 50px;
}

.homepage a {
  padding: 30px 20px;
  background-color: #ffd4f1;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.collection {
  color: #f5d4ea;
  font-size: 50px;
  text-align: center;
}

.tabli {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 50px;
}

.tab {
  padding: 30px 20px;
  background-color: rgb(252, 230, 244);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  cursor: pointer;
}

.tab:hover {
  background-color: #f5d4ea;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(242, 185, 245, 0.3);
}

.tab-active {
  padding: 30px 20px;
  background-color: #ffd4f1;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}

.content {
  display: none;
  font-size: 15px;
}

.active {
  display: block;
  margin-left: 8%;
  margin-top: 50px;
  font-size: 15px;
}


/* Conteneur principal pour la liste de films */
#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 40px;
  margin: 0 auto;
}

/* Style des éléments de film individuels */
.card,
#card-template {
  background-color: #ffeaf8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 10%;
  margin-right: 20px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 30px; /* Add some space between cards */
}

.card-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.card:hover,
#card-template:hover {
  transform: translateY(-5px);
}

.card h2,
#card-template h2,
#card-template h1 {
  color: #333;
  margin-bottom: 10px;
}

.card p,
#card-template p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

.card a,
#card-template a {
  display: inline-block;
  background-color: #925c7f;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.card a:hover,
#card-template a:hover {
  background-color: #7a6071;
}

/* Responsive Design Adjustments */
@media (min-width: 600px) {
  .film,
  .film-template {
    width: calc(50% - 40px); /* Adjust for tablets */
  }
}

@media (min-width: 900px) {
  .film,
  .film-template {
    width: calc(33.333% - 40px); /* Adjust for desktops */
  }
}

@media (min-width: 1200px) {
  .film,
  .film-template {
    width: calc(25% - 40px); /* Adjust for larger screens */
  }
}

/*responsive : */
@media all and (max-device-width: 320px) {
}
